body {
    font-family: Arial, sans-serif;
    background-color: #f6f7fb;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #003366;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

.tabela-unificacao {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabela-unificacao th, .tabela-unificacao td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.tabela-unificacao thead {
    background-color: #003366;
    color: white;
}
.tabela-unificacao tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.tabela-unificacao tbody tr:hover {
    background-color: #ddd;
}
.error {
    color: red;
    font-weight: bold;
}